<!--<div class="page-header" >
  <h2 class="text-center">
    {{title}}
  </h2>
</div>-->

<app-appheader nomeUsuario="Marcos Bastos"></app-appheader>
<app-appmenu></app-appmenu>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- TAG para as rotas --> 
      <router-outlet></router-outlet>
      <!--<app-mensagem></app-mensagem>-->
    </section>
  </div>
<app-appsettings></app-appsettings>
<app-appfooter></app-appfooter>
<!--<app-mensagem></app-mensagem>-->